<%- include('partials/header'); -%>
<h1>Compose</h1>

<form style="margin: 20px" action="/compose" class="item" method="post">
  <div class="form-group">
    <label>Post Title</label>
    <input
      class="form-control"
      type="text"
      autocomplete="off"
      name="postTitle"
      placeholder="Post Title"
    />
    <label>Post Content</label>
    <textarea
      class="form-control"
      name="postContent"
      placeholder="Post Content"
      rows="4"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">Publish</button>
</form>
<%- include('partials/footer'); -%>
